.butt {
    width:100px;
    transition: width 2s,height 2s,transform 2s;
}
.butt:hover {
    background-color:cadetblue;
    transform: scale(1.3);
}
.icon:hover {
    transform: scale(1.2);
    transition: all 1s;
}
.gow:hover {
    color: darkgoldenrod;
}
.ancor {
    display: flex;
    align-items: center;
    justify-content: center;
}
.antags{
    margin-top: 15px; 
    margin-right:50px; 
    font-size: 25px;
    text-decoration: none;
    color: black;
    opacity: 70%;
    
} 

.container{
    width: 100%;
    height: 700px;
    /* background-color: antiquewhite; */
    position: relative;
    width: 100%;
    margin-left: 100px;
}
.mo{
    position: absolute;
   left: 0px;
   font-size: 15px;
   font-weight: bold;
   /* background-color:rgb(243, 137, 137); */
   transition:width 2s,height 2s,transform 2s;

   
}
.mo:hover{
    transform: scale(1.1);
    background-color:rgb(235, 225, 168); 


}
.heading{
    font-family: inherit;

}
.bi{
    position: absolute;
   left: 350px;
   transition:width 2s,height 2s,transform 2s;
   font-size: 15px;
   font-weight: bold;
   /* background-color: antiquewhite; */
   /* background-color:rgb(172, 187, 149); */


}
.bi:hover{
    transform: scale(1.1);

}
.ti{
    position: absolute;
   left: 700px;
   transition:width 2s,height 2s,transform 2s;
   /* background-color: antiquewhite; */
   border-radius: 10px;
   font-size: 15px;
   font-weight: bold;
   /* background-color: antiquewhite; */

}
.ti:hover{
    transform: scale(1.1);

}
.fi{
    position: absolute;
   left: 1050px;
   transition:width 2s,height 2s,transform 2s;
   /* background-color: antiquewhite; */
   font-size: 15px;
   font-weight: bold;
   /* background-color:steelblue; */
}
.fi:hover{
    transform: scale(1.1);

}
.si{
    position: absolute;
    top: 530px;
   left: 0px;
   transition:width 2s,height 2s,transform 2s;
   /* background-color: antiquewhite; */
   font-size: 15px;
   font-weight: bold;
   /* background-color: antiquewhite; */

}
.si:hover{
    transform: scale(1.1);

}
.poi{
    position: absolute;
    top: 530px;
   left: 350px;
   transition:width 2s,height 2s,transform 2s;
   /* background-color: antiquewhite; */
   font-size: 15px;
   font-weight: bold;
   /* background-color: antiquewhite; */

}
.poi:hover{
    transform: scale(1.1);

}
.de{
    position: absolute;
    top: 530px;
   left: 700px;
   transition:width 2s,height 2s,transform 2s;
   /* background-color: antiquewhite; */
   font-size: 15px;
   font-weight: bold;
   /* background-color:rgb(253, 229, 168); */
   

}
.de:hover{
    transform: scale(1.1);

}
.ter{
    position: absolute;
    top: 530px;
   left: 1050px;
   transition:width 2s,height 2s,transform 2s;
   /* background-color: antiquewhite; */
   font-size: 15px;
   font-weight: bold;
   /* background-color:rgb(248, 178, 248); */

}
.ter:hover{
    transform: scale(1.1);

}
.extra{
    top: 300px;
    /* background-color:aqua; */
    width: 100%;
    height: 270px;
}


.wtfl{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.wtf{
    margin: 10px;
}
.card{
    /* margin-right: 10px; */
    margin: 10px;
}
.footer{
    margin: 0px 80px;
}
.footer .bhr {
    margin-bottom: 20px;
}
.links{
    display: flex;
    justify-content: space-around;
}
.link p a{
    text-decoration: none;
    color: black;
}
.last{
    display: flex;
    justify-content: space-between;
    margin: 0px 80px;
}
.last1{
    display: flex;
    justify-content: space-around;
}
.footer2{
    margin: 0px 80px;
}
.last2{
    display: flex;
    justify-content: space-around;
}
.last1 pre{
    margin: 5px;
}
.last1 h6{
    margin: 5px;
}
.last2 div{
    margin: 5px;
}
.last2 pre{
    margin: 10px;
}
.bat2:hover {
    transform:scale(1.2);
    transition:all 2s;
    background-color:black;

}
.gowtham:hover{
    transform:scale(1.3);
    transition:ease-out;
   
}
.marq {
    height: 290px;
    width: 100%;
    background-color:aliceblue;
    position: relative;
}
.disp {
    position: absolute;
    display: flex;
}
.disp:hover {
    transform: scale(1.2);
    transition: all 2s;
}
.car {
    display: flex;
   
}
.bike {
    display: flex;
}
.bootbut {
display: flex;
justify-content: space-around;
}

/* .price{
    height: 300px;
    width: 400px;
    background-color: cadetblue;
    border-radius: 20px;
}
.mainpri {
    display: flex;
    justify-content: space-between;
}
.pribut{
    margin-top:120px;
    margin-left: 150px;
   

}
.prepri{
    justify-content: center;
} */
.zxc{
    margin-left: 400px;
    font-size: 60px;
}
.asdf{
    display: flex;
    justify-content:space-between;
}
.hyperbut{
    display: flex;
    
}
.gifs{
    display: flex;
    justify-content: space-evenly;
}
.card:hover{
    transform: scale(1.2);
    transition: all 2s;
}
